.timeout {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.timeout-headerpanel {
    position: inherit;
    width: 100%;
    height: 75px;
}

.timeout-header {
    text-align: center;
    text-decoration: underline;
}

.timeout-detailpanel {
    top: 75px;
    position: inherit;
    bottom: 50px;
    width: 100%;
}

.timeout-detailtext {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
}

.timeout-buttonspanel {
    position: inherit;
    height: 50px;
    width: 100%;
    bottom: 0;
}