.confirm-header {
    text-align: center;
    text-decoration: underline;
}

.confirm-row {
    display: flex;
    flex-direction: row;
}

.confirm-left {
    left: 0;
}

.confirm-right {
    right: 0;
    margin-left: auto;
    margin-right: 0;
}