.list {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.list-cell {
    position: relative;
    height: 100%;
    width: 100%;
}

.list-input {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}

.list-dropdown {
    visibility: visible;
    position: absolute;
    left: 0;
    height: 150px;
    background-color: white;
    color: black;
    border: 1px solid grey;
    top: 100%;
    width: 100%;
    overflow-y: auto;
    z-index: 50;
}

.list-dropdownhighlight {
    background-color: black;
    color: white;
}

.list-input:read-only {
    outline: none;
    background-color: lightgray
}