.input {
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-row {
    position: relative;
    display: flex;
    flex-direction: row;
}

.input-label {
    position: relative; 
    left: 0;
    margin: 0 10px 0 0 ;
    padding: 6px;
}

.input-element {
    position: relative; 
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-input {
    position: relative;
    width: 100%;
    height: 100%;
    font: inherit;
    box-sizing: border-box;
    border: none;
}

.input-error {
    position: relative;
    left: 0px;
    top: 5px;
    height: 15px;
    line-height: 20px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    color: white;
    background: red;
    margin: 5px;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
}

.input-error::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent red transparent;
    top: -14px;
    left: 10px;
}

.input-valid {
    border: 1px solid black;
}

.input-invalid {
    border: 1px solid red;
}

.input-tooltip {
    position: fixed;
    transition: opacity 300ms ease-out;
    max-width: 400px;
    width: auto;
    line-height: 20px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    color: black;
    background: lightgreen;
    margin: 5px;
    border-radius: 5px;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
    border: 1px solid black;
    z-index: 20;
}

.input-tooltipopen {
    animation: openModal 0.4s ease-out forwards;
}

.input-tooltipclose {
    animation: closeModal 0.4s ease-out forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        /*transform: rotate(180deg);*/
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
        /*transform: rotate(360deg)*/
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        /*transform: rotate(360deg);*/
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        /*transform: rotate(180deg)*/
        transform: translateX(20px);
    }
}

/*keyframes openModal {
    0% {
        opacity: 0;
        transform: translateX(-100%)
    }
    50% {
        opacity: 1;
        transform: translateX(90%);
        transform: translateY(45%)
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    50% {
        opacity: 1;
        transform: translateX(90%);
        transform: translateY(45%)
    }
    100% {
        opacity: 0;
        transform: translateX(-100%)
    }
}*/

.input-tooltip::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 7px;
    border-style: solid;
    border-color: transparent black transparent transparent;
    top: 10px;
    left: -14px;
}

.input-tooltip::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 6px;
    border-style: solid;
    border-color: transparent lightgreen transparent transparent;
    top: 11px;
    left: -12px;
}

.input-input:read-only {
    outline: none;
    background-color: lightgray
}

.input-input:read-only:focus {
    outline: none;
    background-color: lightgray;
}

.input-input:focus {
    outline: none;
    background-color: lightgreen;
}