.buttons {
    display: flex;
    align-items: center;
    height: 100%;
}

.buttons button {
    height: 25px;
    min-width: 90px;
    background-color: green;
    border-radius: 8px;
    box-shadow: 2px 2px 2px black;
    border: none;
    margin: 4px;
    transition: all 260ms;
}

.buttons button:disabled {
    background-color: grey;
}

.buttons button:disabled:hover {
    background-color: lightgray;
}

.buttons button:hover {
    cursor: pointer;
    background-color: lightgreen;
    font-size: 1.15em;
}
